## Data analysis
numpy
scipy

torch
torchvision

opencv-python

## Plotting
matplotlib
PyQt5

## Reading tiff files
tifffile
imagecodecs

## Reading spe files
spe2py

## Lloyd relaxation
lloyd

## Segmentation to cluster
scikit-learn